*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#tsparticles {
    /*   background; */
    width: 100%;
    background-color: black;
    height: 100%;
    transition: .5s all linear;
}

